# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
forge-1.20.1-47.3.5-mdk.zip
examplemod-1.0.0.jar
CREDITS.txt
changelog.txt
World Stripper-1.20-3.3.0.jar
rhino-forge-2001.2.2-build.18.jar
kubejs-forge-2001.6.5-build.14.jar
LICENSE.txt
.vscode/settings.json
architectury-9.2.14-forge.jar
README.txt
gadgestry-1.0.0.jar

*.jar